/* PlaceOrderButton.css */
.placeOrderButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto; /* Allow height to adjust based on width */
  min-height: 120px;
  overflow: visible;
  font-family: 'Roboto', sans-serif;
}

.placeOrderButtonContainer svg {
  width: 100%;
  height: 100%;
}

.hidden {
  visibility: hidden;
}

#base {
  cursor: pointer;
}

